.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container {
  padding: 5px;
}

mat-form-field {
  width: 24%;
}

.margin-top-left {
  margin-top: 15px;
  margin-left: 3px;
}
